---
import { render } from "astro:content";
import BaseLayout from "@/layouts/base.astro";
import ContentLayout from "@/layouts/content.astro";
import ArticleHeader from "./_components/article-header.astro";
import Trakteer from "./_components/trakteer.astro";
import Share from "@/components/elements/share.astro";
import { articlesHandler } from "@/lib/handlers/articles";
export const getStaticPaths = async () => {
  const articles = articlesHandler.allArticles();
  return articles.map((article) => ({
    params: { id: article.id },
    props: { article },
  }));
};
const { article } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(article);
---
<BaseLayout entry={article}>
  <ArticleHeader
    article={article}
    readingTime={remarkPluginFrontmatter.minutesRead}
  />
  <ContentLayout>
    <Content />
  </ContentLayout>
  <div class="container max-w-5xl py-6 border-t border-base-300">
    <p class="text-sm text-base-content/70 mb-3 font-bold">Bagikan artikel ini</p>
    <Share text={article.data.title} />
  </div>
  <Trakteer />
</BaseLayout>
