---
import ListLayout from "@/layouts/list.astro";
import { getEntry } from "astro:content";
import { categoriesHandler } from "@/lib/handlers/categories";
const entry = await getEntry("views", "categories");
if (!entry) {
  return Astro.redirect("/404");
}
const articles = categoriesHandler.allCategoriesWithLatestArticles();
---
<ListLayout header={"Sitemap"} entry={entry}>
  <ul class="w-full space-y-8 my-6">
    {articles.map((category) => (
      <div class="flex flex-col items-start gap-4">
        <div class="flex items-center w-full justify-between gap-2 border-b border-accent/30">
          <h2 class="text-xl inline-flex items-center">
            {category.data.title}
            <span class="text-xs font-sans ml-2" style="color: #ff6b35;">
              ({category.data.count} Artikel)
            </span>
          </h2>
          
            href={"/categories/" + category.data.path + "/1"}
            class="group flex text-sm items-center gap-1 hover:gap-2 transition-all duration-200"
            style="color: #ff6b35;"
          >
            Lihat Semua
          </a>
        </div>
      </div>
    ))}
  </ul>
</ListLayout>
