---
import BaseLayout from "@/layouts/base.astro";
import { getEntry } from "astro:content";

const entry = await getEntry("views", "home");
if (!entry) {
  return Astro.redirect("/404");
}
---

<BaseLayout entry={entry}>
  <h1>Calmaja</h1>
  <p>Website lagi disiapin...</p>
</BaseLayout>
